/* import fonts  */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap"); */

* {
  font-family: "Noto Serif SC", serif, "Noto Sans SC", sans-serif;
  /* font-family: "Noto Sans SC", sans-serif; */
}

/* nav bar  */

.navBar .navLogo {
  text-decoration: none;
}

.navBar p:first-of-type {
  color: #2a9df4;
  font-size: 2.5rem;
}

.navBar p:nth-of-type(2) {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000;
}

.navBar .navLink {
  text-decoration: none;
  color: #2a9df4 !important;
}

.navBar .navLink:hover {
  text-decoration: none;
  color: #1d6daa !important;
}

/* home page  */

.HomeCtaButton {
  background-color: #2a9df410 !important;
}

.HomeCtaButton:hover {
  /* background-color: #2a9df4 !important; */
  background-color: #2a9df450 !important;
}

.size1rem {
  font-size: 1rem;
}

.size1point5rem {
  font-size: 1.5rem;
}

.size2rem {
  font-size: 2rem;
}

/* home page animations  */

.homePageBorderElement {
  /* Other styles for the element */
  border: 2px solid transparent;
  transition: 0.5s;
}

.flashingBorder {
  animation: flash 3s linear infinite;
}

@keyframes flash {
  0% {
    box-shadow: rgba(255, 0, 0, 0.05) 0px 0px 10px;
  }
  50% {
    box-shadow: rgba(255, 0, 0, 0.7) 0px 0px 10px;
  }
  100% {
    box-shadow: rgba(255, 0, 0, 0.05) 0px 0px 10px;
  }
}

.sampleConvoCharacterCarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
}



/* lesson select buttons  */

.lessonSelectButtons {
  color: #2a9df4;
  text-decoration: none;
}

.lessonSelectButtons:hover {
  color: #2a9df4;
  text-decoration: none;
  background-color: #2a9df410 !important;
}

.lessonsIndexButton {
  color: #2a9df4;
  text-decoration: none;
}

.lessonsIndexButton:hover {
  color: #2a9df4;
  text-decoration: none;
  background-color: #2a9df410 !important;
}

.lessonLink {
  color: #2a9df4;
  text-decoration: none;
}

.lessonLink:hover {
  color: #1d6daa;
}

/* Lesson index  */

.lightBlueText {
  color: #2a9df4;
}

.darkBlueText {
  color: #1d6daa;
}

.lessonIndexCard {
  background-color: #2a9df410;
  transition: 0.25s;
}

.lessonIndexCard:hover {
  background-color: #2a9df430;
  transition: 0.25s;
}

/* series index  */

.seriesIndexLink {
  color: #2a9df4;
  text-decoration: none;
}

.seriesIndexLink:hover {
  color: #1d6daa;
}

.lightBorder {
  border: 2px solid #2a9df410;
}

.seriesIndexSeriesName {
  font-size: 1.5rem;
}

.seriesIndexSeriesDescription {
  /* color: #00000075; */
}

.seriesIndex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* max-height: 8rem; */
  /* max-width: 15rem; */
  /* max-height: 150px; */
  /* max-width: 150px; */
  /* border-radius: 50%; */
}

.characterPortrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seriesIndex h2 {
  font-size: 2rem;
  /* color: #2a9df4; */
}

.seriesIndex h3 {
  font-size: 1.5rem;
  /* color: #00000075; */
  color: #2a9df4;
  /* color: #1d6daa; */
}

.seriesIndex .characterCard {
  font-size: 1rem;
  /* min-height: 10rem; */
}

.setCharacterDescHeight {
  height: 5rem;
}

/* BasicConvo  */

.darkBlueBackground {
  background-color: #2a9df410;
}

.lightBlueBackground {
  background-color: #2a9df430;
}

.greenBackground {
  background-color: #00D5E330 !important;
}

.basicConvoImg {
  height: 4rem;
  width: 4rem;
  /* height: 50px; */
  /* width: 75px; */
  border-radius: 50%;
}

.smallRoundPortrait {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

/* footer  */

.footerLink {
  color: #2a9df4 !important;
}

.footerLink:hover {
  color: #1d6daa !important;
}

/* media query  */

@media screen and (max-width: 400px) {
  .navBar p:first-of-type {
    font-size: 1.5rem;
  }
}
